services:

  web:
    build: .
    restart: always
    ports:
      - "8002:8000"
    
    env_file:
      - .env
    
    environment:
      - DATABASE_URL=postgresql://okoce_user:okoce_password@172.17.0.1:5432/okoce_db

    volumes:
      - ./uploads:/app/uploads
      - ./firebase-service-account-key.json:/app/firebase-service-account-key.json